**/.idea

code/**/*.dat*
data/**/*.dat*
logs/**/*.dat*
pickles/**/*.dat*

code/**/*.txt*
data/**/*.txt*
logs/**/*.txt*
pickles/**/*.txt*

scripts/**/*.out*

**/*.log*
**/*.pkl*

**/__pycache__/*

**/*.temp*
**/*.tmp*
**/*.backup*

nohup.out
run.sh
run_obs.sh
